body {
  margin: 0;
 font-family: 'Cormorant Garamond',
 serif;
 font-weight: 400;
 overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
     font-family: 'Poppins',
     sans-serif;
     font-family: 'Source Serif Pro',
     serif;
}
